<strong>Olá, {{ provider }}</strong>
<p>Infelizmente a entrega abaixo precisou ser cancelada:</p>
<p>
  <strong>Cliente: </strong> {{ recipient.name }} <br />
  <strong>Produto: </strong> {{ recipient.product }} <br />
  <strong>Endereço: </strong> {{ recipient.address }} <br />

</p>
<p>
  <strong>O motivo foi:</strong><br />
  {{ description }} <br />
  <br />
  <small>
    Agradecemos a parceria.
  </small>
</p>
